body{
	margin: 0px;
	padding: 0px;
	font-family: 'Playfair Display', serif;
  position: relative;
}

/*NAV bootstrap - treba srediti za responsive */


                            /*nav.navigacija1{
                              margin-bottom: 0;
                              background-color: #0E8B9F;
                              border: none;
                            }
                            .navigacija{
                              margin-right: 10px;
                            }
                            .navigacija li{
                              padding: 3px;
                            }
                            .navigacija1 .navigacija > li > a{
                              color: white;
                            }
                            .navigacija1 .navigacija > li > a:hover{
                              color: #ffe5c2;
                              outline: 1px solid white;
                              outline-width: 2px;
                              -webkit-transition: all 0.3s linear;
                              -moz-transition: all 0.3s linear;
                              -o-transition: all 0.3s linear;
                              transition: all 0.3s linear;
                            }
                            .navigacija1 .navigacija > li > a:focus{
                              color: #eab46d;
                            }
                            .logo{
                              padding: 10px 10px;
                            }

                            @media screen and(max-width: 480px){
                              nav.navigacija li{
                                display: none;
                              }
                            }
  END*/


/*MENU RESPONSIVE AKTIVAN - TRENUTNO*/

nav ul{
      background-color: #0E8B9F;
      overflow: hidden;
      color: white;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      -moz-transition: max-height 0.5s;
      transition: max-height 0.5s;
    }
    nav ul li{
      display: inline-block;
      padding: 19px 5px;
      float: right;
      margin-right: 20px;

    }
    nav ul li:hover{
      color: #0E8B9F;
      background-color: white;
      /*color: #ffe5c2;*/
      outline: 1px solid white;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
    a{
      text-decoration: none;
      color: white;
    }

    .hamburger{
      display: none;
      background-color: #39CCCC;
      color: white;
      
    }
    .logo1{
      margin-left: 10px;
      margin-top: 7px;
    }

    @media screen and (max-width: 680px){
      nav ul{
        max-height: 0;
        opacity: 0.9;
      }
      .prikazi{
        max-height: 300px;
      }
      .logo1{
        display: none;
      }

      nav ul li{
        border-bottom: 1px solid white;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin: 0;
      }
      div.hamburger{
        /*background-image: url('../IMG/1.png');
        background-attachment: repeat;
        background-size: cover;*/
        width: 100%;
        height: 60px;
        display: block;
        padding: 5px;
      }
      div.hamburger .hamburger2{
        float: right;
        cursor: pointer;
        margin-right: 5px;
        padding: 5px;
      }
      div.hamburger .logoResponsive{
        margin-left: 5px;
        padding: 5px;
      }


    }

/*END RESPONSIVE MENU*/



#coverSlika{
  margin-top: 0;
	background-image: url('../IMG/slika2.jpg');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
}
.cover{
	margin: 0;
	padding: 0;
}
#naslov{
	color: white;
	padding-top: 10%;
	padding-left: 5%;
}
.kontaktDugme{
	margin-left: 5%;
	width: 200px;
	height: 50px;
}
.kontaktDugme2{
	margin-left: 2%;
	width: 200px;
	height: 50px;
}
.usluge{
	margin-top: 50px;
	margin-bottom: 50px;
}
.iskustva{
  background-image: url('../IMG/iskustva.jpg');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
}
#iskustvaKorisnika{
  color: white;
  font-size: 18px;
  font-family: 'Slabo', serif;
  font-weight: 100;
  text-align: justify;
  font-style: italic;
  padding: 20px 0;
}
.zvezda{
  color: white;
}
.zvezdice{
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.slikaKorisnika{
  width: 80px;
  height: 80px;
}
.zvezdice1{
  padding-top: 30px;
  text-align: center;
}
.zvezdice2{
  padding-top: 5px;
  text-align: center;
}
.zvezdice3{
  padding-top: 25px;
  text-align: center;
}
#procespopravke1{
  font-size: 20px;
  line-height: 60px;
  padding-top: 10%;
  text-align: left;
}


@media screen and (max-width: 1024px){
    .iskustva{
  background-image: url('../IMG/iskustva.jpg');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  }
}
@media screen and (max-width: 680px){

  #naslov{
    font-size: 24px;
    line-height: 40px;
    transition: 0.7s;
  }
  #procespopravke1{
    font-size: 18px;
    line-height: 35px;
    transition: 0.7s;
    text-align: left;
  }
  .slikeProcesPopravka1{
    width: 250px;
    height: 250px;
    transition: 0.9s;
    margin: auto;
  }
    .slikeProcesPopravka2{
    width: 250px;
    height: 250px;
    transition: 0.9s;
    margin: auto;
  }
    .slikeProcesPopravka3{
    width: 250px;
    height: 250px;
    transition: 0.9s;
    margin: auto;
  }

}


.slikaIskustvaHover:hover{
  box-shadow: 15px 15px 100px white;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:95%;
    position:absolute;
}

.kontakt-googlemaps{
  background-color: #a6d0bd;
  padding: 20px;
}
.kontaktForma{
  margin-right: 40px;
}

.footer{
  background-color: rgb(8,12,19);
  padding: 30px;
  width: 100%;
  height: 100px;
  color: #547077;
}
.footer-sredina{
  margin-top: 15px;
}
.social-networks{
 text-align: center;

}
.footer > .footer-sredina > .social-networks > a{
  color: #547077;
    padding: 15px;
}
.footer > .footer-sredina > .social-networks > a:hover{
  color: #a6d0bd;
  transition: 0.5s;
  outline: 1px solid lightgreen;

}

@media screen and (max-width: 680px){
    .footer{
  width: 100%;
  height: 100%;
}
.footer > .footer-sredina > p{
  padding-bottom: 20px;
}
.forma-sredina{
  text-align: center;
  margin: 5px auto;
}
.footer > .footer-sredina > .social-networks > a{
  color: #547077;
    padding: 15px;
}
.footer > .footer-sredina > .social-networks > a:hover{
  color: #a6d0bd;
  transition: 0.5s;
  outline: 1px solid lightgreen;

}

}
.kontakt-googlemaps{
  text-align: center;
}
